body{
    color: white;
    width: 100vw;
    height: 100vh;
    background-image: url('img.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Courier Prime',monospace;
    font-size: 16px;
}

#container{
    align-items: center;
    width: 90%;
    height: 50%;
    padding-left: 20%;
}

form {
    padding: 50px;
    width: 55%;
    background:#fa5959;
    border-radius: 50px;
}

[type="email"]{
    border: 7px solid red;
}
.form-group{
    border: white;
    padding: 12px;
    width: 470px;
    height: 20px;
    margin-top: 28px;
    margin-left: 23%;
    border-radius: 3px;
}
.form-group1{
    padding: 12px;
    padding-bottom: 10px;
    width: 470px;
    height: 20px;
    margin-top: 10px;
    margin-left: 20%;
    border-radius:1px;
}
.form-group2{
    border:white;
    padding: 12px;
    width: 470px;
    height: 20px;
    margin-top: 10px;
    margin-left: 13%;
}
span.red{
    color: red;
}
span {
    color: blue;
}
button{
    margin-top: 5px;
    height: 40px;
    width: 100px;
    background: #fa5959;
    color:white;
    border-radius: 5px;
    border-color: white;
    padding-top: 1px;
    margin-left: 45%;
}
p{
    font-size: 16px;
    height: 50px;
    margin-top: 2%;
    margin-left: 22%;
}
h4{
    padding-top: 10px;
    padding-left: 90px;
    margin-left: 20%;
    margin-top: -25px;
    background-color: white;
    color:red ;
    height: 35px;
    width: 300px;
    align-content: center;
}